/***************************************************/
/******************* PAGE SETUP ********************/
/***************************************************/

/* Sets font family for page */

body {
  font-family: "Open Sans";
  background-color: #ececec;
}

/* Sets header height and color */
/* Stretches past the #content-width */

#header-back {
  width: 100%;
  height: 200px;
  background-color: #7e7e7e;
}

/* Pulls content in to center of page */

#content-width {
  width: 1250px;
  margin: auto;
  padding-bottom: 80px;
}



/**************************************************/
/********************* HEADER *********************/
/**************************************************/

/* Sets the header background */
/* Pushes content away from the page border */

header {
  padding: 25px;
}

/* Pushes navbar to right and lines it with logo */

div.navbar {
  display: flex;
  float: right;
}

/* Navbar styling and hover */

a.navbar-style {
  padding: 60px 0px 0px 80px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

a.navbar-style:hover {
  font-weight: bold;
  text-decoration: none;
  color: #000131;
}

/***************************************************/
/********************* CONTENT *********************/
/***************************************************/

.flex-it {
  display: flex;
}

#portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Sets up left sidebar container */

.sidebar-left {
  display: flex;
  align-items: center;
  min-width: 220px;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 0;
  border-right: solid 5px;
}

/* Sidebar font styling */

.sidebar-styling {
  font-size: 30px;
  font-weight: bold;
  color: #000131;
}

/* Regular text styling */

.regular-content {
  flex: 80%;
  margin: 20px 20px 20px 20px ;
  font-size: 20px;
  line-height: 200%;
}

/* Moves portfolio area away from edges */

.portfolio {
  margin: 20px 20px 20px 20px;
}

#spotlight-content {
  flex-basis: 100%;
  object-fit: cover;
}

/*Transparent hover over portfolio images */

.box-hover:hover {
  opacity: 70%;
}

/* Image border styling */

img.image-styling {
 width: 100%;
 border-style: solid;
 border-width: 12px 12px 50px 12px;
 border-color: #7e7e7e;
 border-radius: 5px;
 box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 4%);
}

/* Image text styling */

.portfolio-text-style {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 40px;
  padding: 0 0 0 10px;
}

.portfolio-text-style p {
  font-size: 25px;
  color: #000131;
  font-weight: bold;
}

/* Removing underline from link */

.portfolio a:link {
  text-decoration: none;
}

.github-links {
    text-decoration: none;
    color: black;
}

.github-links:visited {
  text-decoration: none;
  color: black;
}

.github-links:hover {
  text-decoration: none;
  font-weight: bold;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7e7e7e;
  color: white;
  text-align: center;
  height: 50px;
}

.contact-styling {
  display: inline-block;
  padding: 15px 5px 5px 5px;
}

#resume {
  text-decoration: none;
  color: white;
}

#resume:visited {
  text-decoration: none;
  color: white;
}

#github-icon {
  vertical-align: middle;
  padding-top: 5px;
}

#linkedin-icon {
  vertical-align: middle; 
  padding-top: 5px;
}


/***************************************************/
/********************* RESPONSIVE ******************/
/***************************************************/

/**************** RESPONSIVE 1300px ****************/

@media screen and (max-width: 1300px) { 

  /* Giving content more room */

  #content-width {
    width: 90%;
    margin: auto;
  }

  #portfolio-wrapper {
    justify-content: center;
  }

  a.navbar-style {
    padding: 60px 0 0 40px;
    font-size: 16px;
  }

  /* Thinning out sidebar */

  .sidebar-left {
    min-width: 120px;
    padding: 10px 10px 10px 10px;
    border-right: solid 2px;
  } 

  .sidebar-styling {
    font-size: 18px;
  } 

  /* Sizing doen content */

   .regular-content {
      flex: 80%;
      margin: 20px 20px 20px 20px ;
      font-size: 14px;
      line-height: 150%;
  }   
}

/**************** RESPONSIVE 900px ****************/

@media screen and (max-width: 950px) {

  #content-width {
    width: 95%;
    margin: auto;
  }
  
  /* Adjusting header height */

  #header-back {
    height: 225px;
    background-color: #6e6e6e;
  }

  header {
    padding: 25px 0 0 0;
    height: 200px;
  }

  /* Centering logo */

  #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* Styling navbar to sit center under logo */

  div.navbar {
    width: 100%;
    justify-content: center;
  }

  a.navbar-style {
    padding: 30px 30px 0px 30px;
    font-size: 16px;
  }

  .sidebar-styling {
    font-size: 16px;
  } 

  .sidebar-left {
    min-width: 100px;
  }

  /* Portfolio area image styling */

  img.image-styling {
      border-width: 8px 8px 50px 8px;
      height: auto;
   }
   
   .portfolio-text-style {
      bottom: 40px;
      padding: 0 0 0 10px;
   }
   
   .portfolio-text-style p {
      font-size: 18px;
   }
}

@media screen and (max-width: 600px) {

  #header-back {
    height: 270px;
  }

  header {
    height: 245px;
  }

  #logo { 
    width: 80%;
  }

  a.navbar-style {
    font-size: 12px;
  }

  .sidebar-left {
    margin: 20px 0 20px 0;
  }

}

@media screen and (max-width: 550px) {

  #header-back {
    height: 240px;
  }

  header {
      height: 215px;
  }

}

@media screen and (max-width: 450px) {

  #header-back {
    height: 220px;
  }

  header {
    height: 195px;
  }

}
